<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">A Little About Us</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>
      The founders of Van's Construction are brothers Chris and Brent VanRisseghem.  They have over 30 years of combined construction and woodworking experience.  They have owned and operated Van’s Construction since 1998.  Their vast portfolio of completed projects and satisfied customers are why they love doing what they do.
    </p>
  </div>
</div>
